<div class="container p-3 mt-3">
  <div class="row">
    <div class="col-4">


      <!-- This doesn't work yet -->
      <div *ngIf='listings'>
        <div *ngFor='let listing of listings' class="row list-group">
          <a [routerLink]="[listing._id]"><button type="button" class="list-group-item list-group-item-action" [ngClass]="{'active' : listing._id === currentId}">{{listing.title}}</button></a>
        </div>
      </div>

      <a [routerLink]="['../../addListing']"><button type="button" id="addListingButton" class="btn btn-lg btn-block">Add New Listing</button></a>

    </div>
    <div class="col-7">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>