img {
    height: auto;
    width: 250px;
}

a h2 {
    color: #008489;
}

p {
    color: #484848;
}

#tripRow {
    border-bottom: 1px solid #ddd;
}

#datesMargin {
    margin-top: 26px;
}

#titleMargin {
    margin-top: 42px;
}