
<!-- Hero Image -->
<div id="heroImage" [ngStyle]="{'background-image': listingImageUrl }">    &nbsp;
  </div>


<!-- Listing Info -->
<div class="container">
  <div class="row">
    <div class="col-8">

      <div id="listingLinks">
        <a href="#overview">Overview</a>&nbsp;&nbsp;<span class="smallBullet">•</span>&nbsp;
        <a href="#reviews">Reviews</a>&nbsp;&nbsp;<span class="smallBullet">•</span>&nbsp;
        <a href="#host">The Host</a>&nbsp;&nbsp;<span class="smallBullet">•</span>&nbsp;
        <a href="#location">Location</a>
      </div>
      <hr>

<h1>{{listing.title}}</h1>

<div class="row">
<div class="col-10"><p>{{listing.type}}<span class="smallBullet">•</span> {{listing.city}} &nbsp;&nbsp; Stars/# of Reviews<br>
Hosted by {{listing._host.firstName}} {{listing._host.lastName}} • <a href="#contacthost">Contact Host</a>
</p>
</div>

<div class="col-2">
  <img class="listingAvatar" src='https://a0.muscache.com/im/pictures/f07b23e3-55ee-41ad-ab82-0e3931ef7826.jpg?aki_policy=profile_x_medium'>
</div>

<div id="features" class="col-10">
    <span class="glyphicon glyphicon-user"></span>&nbsp;{{listing.maxGuests}} Guests&nbsp;&nbsp; <span class="glyphicon glyphicon-bed"></span>&nbsp;{{listing.beds}} Beds&nbsp;&nbsp; <span class="glyphicon glyphicon-user"></span>&nbsp;{{listing.baths}} Baths&nbsp;&nbsp;
</div>

<div id="description" class="col-10">
    {{listing.desc}}
</div>




</div>
</div>


<!-- SideBar -->
<div class="col-4">

  <div id="bookingBox">
    <div id="bookingTop">
      Book this listing!
    </div>
    
    


    <form id="formDatePicker" (submit)="reservationSubmit()" #reservationForm="ngForm">
        <ng-daterangepicker required [(ngModel)]="dateString" name="dates" [options]="options"></ng-daterangepicker>
        

      <!-- <input type="date" name="startDate" required  [(ngModel)]='reservationReq.startDate' #bookingStartDate='ngModel'>
        <input type="date" name="endDate" required  [(ngModel)]='reservationReq.endDate' #bookingEndDate='ngModel'> -->
        <button [disabled]='!reservationForm.valid'>Submit</button>
        
  </form>
  {{ dateString | json }}
  </div>

</div>

</div></div>
