


<a [routerLink]="['listingPage']">Listing Page</a> | <a [routerLink]="['addListing']">Add Listing</a> | <a [routerLink]="['logout']">Logout</a>

<!-- Hero Image -->
  <div id="heroImage">
    &nbsp;
  </div>


<!-- Listing Info -->
<div class="container">
  <div class="row">
    <div class="col-8">

      <div id="listingLinks">
        <a href="#overview">Overview</a>&nbsp;&nbsp;<span class="smallBullet">•</span>&nbsp;
        <a href="#reviews">Reviews</a>&nbsp;&nbsp;<span class="smallBullet">•</span>&nbsp;
        <a href="#host">The Host</a>&nbsp;&nbsp;<span class="smallBullet">•</span>&nbsp;
        <a href="#location">Location</a>
      </div>
      <hr>

<h1>Listing Title</h1>

<div class="row">
<div class="col-10"><p>Listing Type <span class="smallBullet">•</span> City &nbsp;&nbsp; Stars/# of Reviews<br>
Hosted by Host First Name • <a href="#contacthost">Contact Host</a>
</p>
</div>

<div class="col-2">
  <img class="listingAvatar" src='https://a0.muscache.com/im/pictures/f07b23e3-55ee-41ad-ab82-0e3931ef7826.jpg?aki_policy=profile_x_medium'>
</div>

<div id="features" class="col-10">
#Guests #Bedrooms #Baths
</div>

<div id="description" class="col-10">
Listing Description
</div>




</div>
</div>


<!-- SideBar -->
<div class="col-4">

  <div id="bookingBox">
    <div id="bookingTop">
      Book this listing!
    </div>
    
    


    <form (submit)="reservationSubmit()" #reservationForm="ngForm">
        <ng-daterangepicker required [(ngModel)]="dateString" name="dates" [options]="options"></ng-daterangepicker>
        

      <!-- <input type="date" name="startDate" required  [(ngModel)]='reservationReq.startDate' #bookingStartDate='ngModel'>
        <input type="date" name="endDate" required  [(ngModel)]='reservationReq.endDate' #bookingEndDate='ngModel'> -->
        <button [disabled]='!reservationForm.valid'>Submit</button>
        
  </form>
  {{ dateString | json }}
  </div>

</div>

</div></div>
