<div id="currentListingContainer" class="container">
  <div class="row">
    <div class="col-6">
      <h2>{{listing.title}}</h2>
      <p>{{listing.address}}, {{listing.city}}, {{listing.state}}.</p>
      <p class="mt-2">{{listing.desc}}</p><br>
    </div>
    <div class="col-6">
      <img *ngIf='listing.image' src="{{listing.image}}">
      <img *ngIf='!listing.image' src="https://i5.walmartimages.com/asr/f752abb3-1b49-4f99-b68a-7c4d77b45b40_1.39d6c524f6033c7c58bd073db1b99786.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF">
    </div>
  </div>
  <!-- <div class="row">
  </div> -->
  <button class="text-white btn btn-danger mb-3 mt-3 mr-5"  (click)='delete()'>Delete</button>
</div>